<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <div style="border-top:3px solid #22BCE5"> </div>
                <span style="font-family:Arial;font-size:10pt">
                    Um curriculo foi enviado através do site EGinfo<br /><br /><br /><br />
                    <b>Candidato</b> : {candidato}<br /><br />
                    <b>Telefone</b> : {telefone}<br /><br />
                    <b>E-mail</b> : {email}<br /><br />
                    <b>Perfil</b> : {perfil}<br /><br />
                    <b>Especialidades </b> :   {especialidades}   <br /><br />
                </span>
            </td>
        </tr>
    </table>  
</body>
</html>