

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2> 
<script>

</script>
<div ng-app="candidatosApp" ng-controller="CadastroController">
    <form role="form" style="max-width: 500px;">

        <div class="form-group">
            <label for="nome" class="control-label col-sm-3">
                Nome:
            </label>
            <input type="text" class="form-control" id="nome" ng-model="nome" />
        </div>
        <div class="form-group">
            <label for="cpf" class="control-label col-sm-3">
                CPF:
            </label>
            <input type="text" class="form-control" id="cpf" ng-model="cpf" />
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-sm-3">
                Email:
            </label>
            <input type="text" class="form-control" id="email"  ng-model="email" />
        </div>
        <div class="form-group">
            <label for="telefone" class="control-label col-sm-3">
                Telefone:
            </label>
            <input type="text" class="form-control" id="telefone" ng-model="telefone" />
        </div>
        <div class="form-group">
            <label for="celular" class="control-label col-sm-3">
                Celular:
            </label>
            <input type="text" class="form-control" id="celular" ng-model="celular" />
        </div>
        <div class="form-group">
            <label for="perfil" class="control-label col-sm-3">
                Perfil:
            </label>
            <select class="form-control" id="perfil" ng-model="idPerfil">
                <!--ng-options="c.Value as c.Text for c in perfis" -->
                <!--ng-change="getStates()">-->
                <option value="">-- Seleccione perfil --</option>
                <option ng-repeat="item in perfis1" value="{{item[0]}}">{{item[1]}}</option>
            </select>
        </div>


        <!-- <div class="form-group">
               <label for="idendereco">
                   Endereço:
               </label>
               <select class="form-control" id="idendereco" ng-model="idendereco" ng-options="c.Value as c.Text for c in perfis">
                   <!--ng-options="c.Value as c.Text for c in perfis" -->
        <!--ng-change="getStates()">-->
        <!--   <option value="">-- Seleccione perfil --</option>
            </select>
        </div>-->
        <div class="row">
            <div class="form-group">
                <label class="control-label">
                    
                </label>
                <label ng-repeat="x in especialidades">
                    <input type="checkbox" name="idespecialidade" ng-checked="especialidadeSelecionada.indexOf(x.id) > -1"
                           ng-click="toggleSelection(x.id)" value="{{x.id}}"> {{x.nome}}
                </label>
            </div>
        </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    CEP:
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="cep" ng-keypress="enter($event)">
                    <button class="btn btn-primary" ng-click="busca()">Buscar</button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    Logradouro:
                </label>
                <div class="col-sm-*">
                    <input type="text" class="form-control" ng-model="local_encontrado.logradouro" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Bairro:
                </label>
                <div class="col-sm-*">
                    <input type="text" class="form-control" ng-model="local_encontrado.bairro" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Cidade:
                </label>
                <div class="col-sm-*">
                    <input type="text" class="form-control" ng-model="local_encontrado.cidade" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Estado:
                </label>
                <div class="col-sm-*">
                    <input type="text" class="form-control" ng-model="local_encontrado.estado" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">
                    Curriculum:
                </label>
                <div class="col-sm-*">
                    <input ng-model="curriculum" type="file" name="myFile" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" file-upload />

                    <label class="control-label">
                        Somente serão aceitos arquivos no formato PDF, DOC e DOCX.
                    </label>
                </div>
            </div>
            <div class="form-group">

                <input type="button" class="btn btn-primary" value="Salvar" data-ng-click="save()" />
            </div>
</form>

    @section scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/CadastroController.js")"></script>

    }
</div>