


@{
    ViewBag.Title = "Cadastro1";
}

<h2>Cadastro</h2>
<div ng-app="candidatosApp" ng-controller="CadastroController">
    <table class="table table-striped">
       
       
      
    </table>
</div>